{% extends "base.html" %}

{% block title %} ورود {% endblock %}

{% block content %}





<div style="background:#494C53 url({{ settings.header_image.url }}) no-repeat scroll center top / cover; color:#FFF; position: relative; min-height: 140px; ">
		<div class="container">
				<div class="row">
						<div class="page-head-content">
								<h1 class="page-title"> وارد حساب کاربری خود شوید </h1>
						</div>
				</div>
		</div>
</div>
<!-- End page header -->


<!-- register-area -->
<div class="register-area" style="background-color: rgb(249, 249, 249);">
		<div class="container" dir="rtl">

			<div class="col-md-12">
					<div class="box-for overflow">
							<div class="col-sm-6 col-sm-offset-3 login-blocks">
									<h2>ورود : </h2>
									<span class="mb-0 text-muted">
										{% if msg %}
											{{ msg | safe }}
										{% else %}
											اطلاعات خود را وارد کنید
										{% endif %}
									</span>
									<!-- dummy spacer -->
									<p> <br /> </p>

									<!-- Hide the form on success -->
									{% if not success %}
									<form role="form" action="" method="post">
									{% csrf_token %}
											<div class="form-group">
													<label for="email">نام کاربری</label>
													{{ form.username }}
													<span class="text-error">{{ form.username.errors }}</span>
											</div>
											<div class="form-group">
													<label for="password">رمزعبور</label>
													{{ form.password }}
													<span class="text-error">{{ form.password.errors }}</span>
											</div>
											<div class="text-center">
													<button type="submit" class="btn btn-default"> ورود </button>
											</div>
									</form>
									{% endif %}
									<br>

							</div>

					</div>
			</div>



  </div>
</div>







{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
