{% extends "base.html" %}

{% block title %} پروفایل {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}






<div class="page-head">
  <div class="container">
      <div class="row">
          <div class="page-head-content">
              <h1 dir="rtl" class="page-title"> سلام <span class="orange strong"> {{ request.user.first_name }} </span></h1>
          </div>
      </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
      <div class="container" dir="rtl" align="right">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1 profiel-container">

                  <form role="form" action="{% url 'app:profile' %}" method="post" enctype="multipart/form-data">
									 	{% csrf_token %}
                      <div class="profiel-header">
                          <h3>
                               پروفایل خود را ویرایش کنید <br>
                              <small>این اطلاعات ما را بیشتر در مورد شما آگاه خواهد کرد</small>
                          </h3>
                          <hr>
                      </div>

                      <div class="clear">
                          <div class="col-sm-3 col-sm-offset-1">
                              <div class="picture-container">
                                  <div class="picture">
                                      <img src="{{ request.user.profile.user_photo.url }}" class="picture-src" id="wizardPicturePreview" title=""/>
                                      <input name="user_photo" type="file" id="wizard-picture">
                                  </div>
                                  <h6>تصویر را انتخاب کنید</h6>
                              </div>
                          </div>
													<div class="col-sm-3 padding-top-25">
                              <div class="form-group">
                                  <label>  نام کاربری  <small>(ضروری)</small></label>
                                  <input name="username" type="text" class="form-control" value="{{ request.user.username }}">
                              </div>
                              <div class="form-group">
                                  <label> نام <small>(ضروری)</small></label>
                                  <input name="first_name" type="text" class="form-control" value="{{ request.user.first_name }}">
                              </div>
                              <div class="form-group">
                                  <label>  نام خانوادگی  <small>(ضروری)</small></label>
                                  <input name="last_name" type="text" class="form-control" value="{{ request.user.last_name }}">
                              </div>
                          </div>
													<div class="col-sm-3 padding-top-25">
                              <div class="form-group">
                                  <label> ایمیل <small>(ضروری)</small></label>
                                  <input name="email" type="email" class="form-control" value="{{ request.user.email }}"">
                              </div>
                              <div class="form-group">
                                  <label>  آدرس  <small>(ضروری)</small></label>
                                  <input name="text" type="text" class="form-control" value="{{ request.user.profile.address }}">
                              </div>
                              <div class="form-group">
                                  <label>  شماره تماس  <small>(ضروری)</small></label>
                                  <input name="phone" type="text" class="form-control" value="{{ request.user.profile.phone }}">
                              </div>
                          </div>
                          <div class="col-sm-3 padding-top-25">
                              <div class="form-group">
                                  <label> کلمه عبور <small>(ضروری)</small></label>
                                  <input name="Password1" type="password" class="form-control" value="{{ request.user.password1 }}">
                              </div>
                              <div class="form-group">
                                  <label> تکرار رمزعبور <small>(ضروری)</small></label>
                                  <input type="password2" type="password" class="form-control" value="{{ request.user.password2 }}">
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-5 col-sm-offset-1">
                          <br>
                          <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
                      </div>
                      <br>
                  </form>

          </div>
      </div><!-- end row -->

  </div>
</div>








{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
