{% extends "base.html" %}

{% block title %} پروفایل {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}






<div style="background:#494C53 url({{ settings.header_image.url }}) no-repeat scroll center top / cover; color:#FFF; position: relative; min-height: 140px; ">
  <div class="container">
      <div class="row">
          <div class="page-head-content">
              <h1 dir="rtl" class="page-title"> سلام <span class="orange strong"> {{ request.user.first_name }} </span>  <small style="font-size:12px;">  وضعیت: {{ request.user.profile.user_type }}  </small> </h1>
          </div>
      </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
      <div class="container" dir="rtl" align="right">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1 profiel-container">

                  <form role="form" action="{% url 'app:profile' %}" method="post" enctype="multipart/form-data">
									 	{% csrf_token %}
                      <div class="profiel-header">
                          <h3>
                               پروفایل خود را ویرایش کنید <br>
                              <small>این اطلاعات ما را بیشتر در مورد شما آگاه خواهد کرد</small>
                          </h3>
                          <hr>
                      </div>

                      <div class="clear">
                          <div class="col-sm-3 col-sm-offset-1">
                              <div class="picture-container">
                                  <div class="picture">
                                      <img src="{{ request.user.profile.user_photo.url }}" class="picture-src" id="wizardPicturePreview" title=""/>
                                      <input name="photo" type="file" id="wizard-picture">
                                  </div>
                                  <h6>تصویر را انتخاب کنید</h6>
                              </div>
                          </div>
                          <div class="row">

                            <div class="col-md-6 pr-md-1">
          			              <div class="form-group">
          			                <label> نام کاربری </label>
          			                <input name="user" type="text" class="form-control" value="{{ request.user.username }}">
          			              </div>
          			            </div>

                            <div class="col-md-6 pr-md-1">
                              <div class="form-group">
                                <label> نام </label>
                                <input name="firstname" type="text" class="form-control" value="{{ request.user.first_name }}">
                              </div>
                            </div>

                            <div class="col-md-6 pl-md-1">
          			              <div class="form-group">
          			                <label> نام خانوادگی </label>
          			                <input name="lastname" type="text" class="form-control" value="{{ request.user.last_name }}">
          			              </div>
          			            </div>


                            <div class="col-md-3 pr-md-1">
          			              <div class="form-group">
          			                <label> شماره تماس </label>
          			                <input name="phone" type="text" class="form-control" placeholder="شماره تماس" value="{{ request.user.profile.phone }}">
          			              </div>
          			            </div>



          			            <div class="col-md-3 pr-md-1">
          			              <div class="form-group">
          			                <label> ایمیل </label>
          			                <input name="email" type="email" class="form-control" placeholder="ایمیل" value="{{ request.user.email }}">
          			              </div>
          			            </div>


          			            <div class="col-md-9 pr-md-1 col-sm-offset-1">
          			              <div class="form-group">
          			                <label> اطلاعات تکمیلی </label>
          			                <input name="additional_information" type="text" class="form-control" placeholder="اطلاعات تکمیلی" value="{{ request.user.profile.additional_information }}">
          			              </div>
          			            </div>


          			          </div>

                      </div>

                      <div class="col-md-6 pr-md-1 col-sm-offset-1">
                          <br>
                          <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
                      </div>
                      <br>
                  </form>

          </div>
      </div><!-- end row -->


      <div style="padding-right:80px;">
        <a href="{% url 'password_change' %}"> <small>  تغییر رمزعبور <i class="fa fa-key"></i>  </small> </a>
      </div>

  </div>

</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
