{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %}

{% block content %}







<div class="page-head">
		<div class="container">
				<div class="row">
						<div class="page-head-content">
								<h1 class="page-title">Home New account / Sign in </h1>
						</div>
				</div>
		</div>
</div>
<!-- End page header -->


<!-- register-area -->
<div class="register-area" style="background-color: rgb(249, 249, 249);">
		<div class="container">

				<div class="col-md-6">
						<div class="box-for overflow">
								<div class="col-md-12 col-xs-12 register-blocks">
										<h2>New account : </h2>
										<form action="" method="post">
												<div class="form-group">
														<label for="name">Name</label>
														<input type="text" class="form-control" id="name">
												</div>
												<div class="form-group">
														<label for="email">Email</label>
														<input type="text" class="form-control" id="email">
												</div>
												<div class="form-group">
														<label for="password">Password</label>
														<input type="password" class="form-control" id="password">
												</div>
												<div class="text-center">
														<button type="submit" class="btn btn-default">Register</button>
												</div>
										</form>
								</div>
						</div>
				</div>

				<div class="col-md-6">
						<div class="box-for overflow">
								<div class="col-md-12 col-xs-12 login-blocks">
										<h2>Login : </h2>
										<form action="" method="post">
												<div class="form-group">
														<label for="email">Email</label>
														<input type="text" class="form-control" id="email">
												</div>
												<div class="form-group">
														<label for="password">Password</label>
														<input type="password" class="form-control" id="password">
												</div>
												<div class="text-center">
														<button type="submit" class="btn btn-default"> Log in</button>
												</div>
										</form>
										<br>

										<h2>Social login :  </h2>

										<p>
										<a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
										<a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a>
										<a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
										</p>
								</div>

						</div>
				</div>

		</div>
</div>

	<!-- Footer area-->
<div class="footer-area">

		<div class=" footer">
				<div class="container">
						<div class="row">

								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
										<div class="single-footer">
												<h4>About us </h4>
												<div class="footer-title-line"></div>

												<img src="assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
												<p>Lorem ipsum dolor cum necessitatibus su quisquam molestias. Vel unde, blanditiis.</p>
												<ul class="footer-adress">
														<li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
														<li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
														<li><i class="pe-7s-call strong"> </i> +1 908 967 5906</li>
												</ul>
										</div>
								</div>
								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
										<div class="single-footer">
												<h4>Quick links </h4>
												<div class="footer-title-line"></div>
												<ul class="footer-menu">
														<li><a href="properties.html">Properties</a>  </li>
														<li><a href="#">Services</a>  </li>
														<li><a href="submit-property.html">Submit property </a></li>
														<li><a href="contact.html">Contact us</a></li>
														<li><a href="faq.html">fqa</a>  </li>
														<li><a href="faq.html">Terms </a>  </li>
												</ul>
										</div>
								</div>
								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
										<div class="single-footer">
												<h4>Last News</h4>
												<div class="footer-title-line"></div>
												<ul class="footer-blog">
														<li>
																<div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
																		<a href="single.html">
																				<img src="assets/img/demo/small-proerty-2.jpg">
																		</a>
																		<span class="blg-date">12-12-2016</span>

																</div>
																<div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
																		<h6> <a href="single.html">Add news functions </a></h6>
																		<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
																</div>
														</li>

														<li>
																<div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
																		<a href="single.html">
																				<img src="assets/img/demo/small-proerty-2.jpg">
																		</a>
																		<span class="blg-date">12-12-2016</span>

																</div>
																<div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
																		<h6> <a href="single.html">Add news functions </a></h6>
																		<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
																</div>
														</li>

														<li>
																<div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
																		<a href="single.html">
																				<img src="assets/img/demo/small-proerty-2.jpg">
																		</a>
																		<span class="blg-date">12-12-2016</span>

																</div>
																<div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
																		<h6> <a href="single.html">Add news functions </a></h6>
																		<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
																</div>
														</li>


												</ul>
										</div>
								</div>
								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
										<div class="single-footer news-letter">
												<h4>Stay in touch</h4>
												<div class="footer-title-line"></div>
												<p>Lorem ipsum dolor sit amet, nulla  suscipit similique quisquam molestias. Vel unde, blanditiis.</p>

												<form>
														<div class="input-group">
																<input class="form-control" type="text" placeholder="E-mail ... ">
																<span class="input-group-btn">
																		<button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
																</span>
														</div>
														<!-- /input-group -->
												</form>

												<div class="social pull-right">
														<ul>
																<li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
																<li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
																<li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
																<li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
																<li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
														</ul>
												</div>
										</div>
								</div>

						</div>
				</div>
		</div>

		<div class="footer-copy text-center">
				<div class="container">
						<div class="row">
								<div class="pull-left">
										<span> (C) <a href="http://www.KimaroTec.com">KimaroTheme</a> , All rights reserved 2016  </span>
								</div>
								<div class="bottom-menu pull-right">
										<ul>
												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
										</ul>
								</div>
						</div>
				</div>
		</div>

</div>

























<br><br>
<hr><hr>


	<!-- [ auth-signup ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="/static/assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">
								<h4 class="mb-3 f-w-400">
									Sign UP
								</h4>
							</h4>
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg | safe }}
								{% else %}
									Add your credentials
								{% endif %}
							</span>
							<!-- dummy spacer -->
							<p> <br /> </p>

							<!-- Hide the form on success -->
							{% if not success %}
								<form role="form" method="post" action="">

									{% csrf_token %}

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-user"></i></span>
										</div>
										{{ form.username }}
									</div>
									<span class="text-error">{{ form.username.errors }}</span>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-mail"></i></span>
										</div>
										{{ form.email }}
									</div>
									<span class="text-error">{{ form.email.errors }}</span>

									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-lock"></i></span>
										</div>
										{{ form.password1 }}
									</div>
									<span class="text-error">{{ form.password1.errors }}</span>

									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-lock"></i></span>
										</div>
										{{ form.password2 }}
									</div>
									<span class="text-error">{{ form.password2.errors }}</span>

									<div class="form-group text-left mt-2">
										<div class="checkbox checkbox-primary d-inline">
											<input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" checked="">
											<label for="checkbox-fill-2" class="cr">I agree with <a href="#">terms</a>.</label>
										</div>
									</div>
									<button type="submit" name="register" class="btn btn-primary btn-block mb-4">Sign up</button>

								</form>

								<p class="mb-0 text-muted">Have an account? <a href="{% url 'login' %}" class="f-w-400">Login</a></p>
							{% endif %}

							<p class="mb-2 text-muted">
								<br />
								&copy; <a target="_blank" rel="noopener" href="https://bit.ly/37fF9RT" class="f-w-400">CodedThemes</a>
								- <a target="_blank" rel="noopener"
								     href="https://appseed.us/admin-dashboards/django-dashboard-gradientable" class="f-w-400">Django Gradient</a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signup ] end -->









{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %}
