<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/crm/img/logo.png' %}">
  <link rel="icon" type="image/png" href="/static/assets/crm/img/logo.png' %}">

  <title>
    {{ settings.title }} | {% block title %}{% endblock %}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/assets/crm/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="/static/assets/crm/css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/static/assets/crm/css/nucleo-svg.css' %}" rel="stylesheet" />
  <link id="pagestyle" href="/static/assets/crm/css/soft-ui-dashboard.css?v=1.0.0' %}" rel="stylesheet" />


  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="g-sidenav-show bg-gray-100">

  {% include "crm/includes/sidebar.html" %}

  <main class="main-content mt-4 border-radius-lg">

    {% include "crm/includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </main>

  {% include "crm/includes/scripts.html" %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
