{% load static %}


<script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

<script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

<script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>

<script src="{% static 'assets/js/icheck.min.js' %}"></script>
<script src="{% static 'assets/js/price-range.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
