{% extends 'crm/layouts/base.html' %}

{% load humanize %}


{% block title %} پیام ها {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="container-fluid py-4">

    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6> پیام ها و تماس ها </h6>

          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نام </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> شماره تماس </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">  تاریخ </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">  وضعیت </th>
                  </tr>
                </thead>
                <tbody>
                 {% for Contact in contacts %}
                      <tr>
                        <td class="align-middle text-center"> <a href="{{ Contact.get_absolute_url }}"> <h6> {{ Contact.name  }} </h6> </a> </td>
                        <td class="align-middle text-center"> <span> {{ Contact.phone }}  </span> </td>
                        <td class="align-middle text-center"> <span class="text-xs"> {{ Contact.j_created_on }} </span> </td>
                        <td class="align-middle text-center">
                          {% if Contact.status == 'جدید' %}
                             <span class="badge badge-sm bg-gradient-warning"> جدید </span>
                          {% else %}
                             <span class="badge badge-sm bg-gradient-secondary"> برسی شده </span>
                          {% endif %}
                        </td>
                      </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="pagination">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" style="color:black" href="?page=1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
          <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active"><a class="page-link" style="color:#ffffff; background-color: black; border-color: black;" href="?page={{num}}">{{num}}</a></li>
          {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-item"><a class="page-link" style="color:black" href="?page={{num}}">{{num}}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" style="color:black" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
        {% endif %}
      {% endif %}
     </ul>


    {% include "crm/includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
