{% extends 'crm/layouts/base.html' %}

{% block title %} ویرایش {{ Post.title }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- select search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/assets/crm/css/bootstrap336.min.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}



<div class="container-fluid py-4">

  <div class="row" dir="rtl">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>  ویرایش {{ Post.title }}  </h6> <p class="text-xs text-secondary mb-0">پست را ویرایش کنید و تغییرات را اعمال کنید </p> <hr>
        </div>
        <div class="card-body px-7 pt-4 pb-2">

               <form action="{% url 'crm_post_edit_done' %}" method="post" dir="rtl" align="right" enctype="multipart/form-data">
                 {% csrf_token %}

                 <div class="row">
                   <div class="col-md-12 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> عنوان پست </p></label>
                       <input name="title" type="text" class="form-control" value="{{ Post.title }}">
                     </div>
                   </div>
                   <div class="col-md-4 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> دسته بندی </p></label>
                       <a style="color:green;" href="{% url 'post_cat' %}"> <span style="font-size:12px;">+</span> <span style="font-size:9px;">افزودن جدید</span> </a>
                       <select name="category" class="form-control selectpicker" data-live-search="true">
                         {% for Cat in category %}
                           <option data-tokens="{{Cat.categoryname}}" value={{Cat.id}} {% if Post.category == Cat %} selected {% endif %}>{{Cat.categoryname}}</option>
                         {% endfor %}
                       </select>
                     </div>
                   </div>
                   <div class="col-md-4 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> نشانی پیوند (link) </p></label>
                       <input name="slug" type="text" class="form-control" placeholder="نشانی مد نظر برای پست" value="{{ Post.slug }}">
                     </div>
                  </div>
                  <div class="col-md-4 pr-md-4">
                      <div class="form-group">
                          <label><p class="text-xs text-secondary"> تصویر پست </p></label>
                          <input name="img" type="file" class="text-xxs" value="{{ Post.img.url }}">
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> متن پست </p></label>
                      <textarea name="body" class="form-control" rows="15" cols="50"> {{ Post.body }} </textarea>
                    </div>
                  </div>
               </div>

               <input name="id" type="hidden" value="{{ Post.id }}">

               <span class="text-xs text-secondary"> حذف این فایل </span> <input name="remove" type="checkbox">

                 <div class="card-footer" align="center">
                   <button type="submit" class="btn bg-gradient-info my-1 me-1"> ذخیره </button>
                    <p style="color:green;"> {{ success }} </p>
                 </div>

              </form>


         </div>
       </div>
     </div>
   </div>




    {% include "crm/includes/footer.html" %}


</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>


    $(function() {
      $('.selectpicker').selectpicker({
        liveSearch: true
      });
    });

</script>
{% endblock javascripts %}
