{% extends 'crm/layouts/base.html' %}

{% block title %}  ویرایش فایل {{ item }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- select search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/assets/crm/css/bootstrap336.min.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}



<div class="container-fluid py-4">

  <div class="row" dir="rtl">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6> ویرایش فایل {{ item }} </h6> <p class="text-xs text-secondary mb-0"> اطلاعات فایل را ویرایش کنید </p> <hr>
        </div>
        <div class="card-body px-7 pt-4 pb-2">

               <form action="#" method="post" dir="rtl" align="right" enctype="multipart/form-data">
                 {% csrf_token %}

                 <div class="row">
                   <div class="col-md-3">
                       <div class="form-group">
                         <label><p class="text-xs text-secondary mb-0"> قابل مشاهده در سایت </p></label>
                          <input name="available" type="checkbox"  {% if item.available %} checked {% endif %}>
                       </div>
                   </div>
                 </div>

{% if item.buy_status == 'رهن و اجاره' %}


                 <div class="row">

                  <div class="col-md-2 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> کد فایل </p></label>
                      <input name="code" type="text" class="form-control" value="{{ item.code }}">
                    </div>
                  </div>

                  <div class="col-md-2 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> منطقه </p> </label>
                      <a style="color:green;" href="#"> <span style="font-size:12px;">+</span> <span style="font-size:9px;">افزودن جدید</span> </a>
                      <select name="area" class="form-control selectpicker" data-live-search="true">
                        {% for Area in area %}
                          <option data-tokens="{{Area.name}}" value={{Area.id}} {% if item.area == Area %} selected {% endif %}>{{Area.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> نوع ملک </p></label>
                      <select name="estate_status" class="form-control selectpicker">
                        <option {% if item.estate_status == 'آپارتمان' %} selected {% endif %} value="آپارتمان"> آپارتمان </option>
                        <option {% if item.estate_status == 'خانه ویلایی' %} selected {% endif %} value="خانه ویلایی"> خانه ویلایی </option>
                        <option {% if item.estate_status == 'مغازه و تجاری' %} selected {% endif %} value="مغازه و تجاری"> مغازه و تجاری </option>
                        <option {% if item.estate_status == 'دفتر کار اداری' %} selected {% endif %} value="دفتر کار اداری"> دفتر کار اداری </option>
                        <option {% if item.estate_status == 'زمین' %} selected {% endif %} value="زمین"> زمین </option>
                        <option {% if item.estate_status == 'کلنگی' %} selected {% endif %} value="کلنگی"> کلنگی </option>
                        <option {% if item.estate_status == 'ویلا' %} selected {% endif %} value="ویلا"> ویلا </option>
                        <option {% if item.estate_status == 'باغ' %} selected {% endif %} value="باغ"> باغ </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> متراژ (متر) </p></label>
                      <input name="area_size" type="number" class="form-control" value="{{ item.area_size }}">
                    </div>
                  </div>

                  <div class="col-md-2 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> تعداد اتاق </p></label>
                      <input name="room_qty" type="number" class="form-control" value="{{ item.room_qty }}">
                    </div>
                  </div>

                  <div class="col-md-2 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> سن بنا (سال) </p></label>
                      <input name="building_age" type="number" class="form-control" value="{{ item.building_age }}">
                    </div>
                  </div>


                 </div>

                 <div class="row">
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> ودیعه (تومان) </p></label>
                       <input name="deposit" type="number" class="form-control" value="{{ item.deposit }}">
                     </div>
                   </div>
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> اجاره (تومان) </p></label>
                       <input name="rent" type="number" class="form-control" value="{{ item.rent }}">
                     </div>
                   </div>
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> نام مالک </p></label>
                       <input name="owner_name" type="text" class="form-control" value="{{ item.ownership.name }}">
                     </div>
                   </div>
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> شماره تماس مالک </p></label>
                       <input name="owner_phone" type="text" class="form-control" value="{{ item.ownership.phone }}">
                     </div>
                   </div>
                  </div>

{% else %}



                  <div class="row">

                   <div class="col-md-2 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> کد فایل </p></label>
                       <input name="code" type="text" class="form-control" value="{{ item.code }}">
                     </div>
                   </div>

                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> منطقه </p> </label>
                       <a style="color:green;" href="#"> <span style="font-size:12px;">+</span> <span style="font-size:9px;">افزودن جدید</span> </a>
                       <select name="area" class="form-control selectpicker" data-live-search="true">
                         {% for Area in area %}
                           <option data-tokens="{{Area.name}}" value={{Area.id}} {% if item.area == Area %} selected {% endif %} >{{Area.name}}</option>
                         {% endfor %}
                       </select>
                     </div>
                   </div>

                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> نوع ملک </p></label>
                       <select name="estate_status" class="form-control selectpicker">
                           <option {% if item.estate_status == 'آپارتمان' %} selected {% endif %} value="آپارتمان"> آپارتمان </option>
                           <option {% if item.estate_status == 'خانه ویلایی' %} selected {% endif %} value="خانه ویلایی"> خانه ویلایی </option>
                           <option {% if item.estate_status == 'مغازه و تجاری' %} selected {% endif %} value="مغازه و تجاری"> مغازه و تجاری </option>
                           <option {% if item.estate_status == 'دفتر کار اداری' %} selected {% endif %} value="دفتر کار اداری"> دفتر کار اداری </option>
                           <option {% if item.estate_status == 'زمین' %} selected {% endif %} value="زمین"> زمین </option>
                           <option {% if item.estate_status == 'کلنگی' %} selected {% endif %} value="کلنگی"> کلنگی </option>
                           <option {% if item.estate_status == 'ویلا' %} selected {% endif %} value="ویلا"> ویلا </option>
                           <option {% if item.estate_status == 'باغ' %} selected {% endif %} value="باغ"> باغ </option>
                       </select>
                     </div>
                   </div>

                   <div class="col-md-2 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> متراژ (متر) </p></label>
                       <input name="area_size" type="number" class="form-control" value="{{ item.area_size }}">
                     </div>
                   </div>

                   <div class="col-md-2 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> تعداد اتاق </p></label>
                       <input name="room_qty" type="number" class="form-control" value="{{ item.room_qty }}">
                     </div>
                   </div>

                  </div>

                  <div class="row">
                    <div class="col-md-3 pr-md-4">
                      <div class="form-group">
                        <label><p class="text-xs text-secondary mb-0"> سن بنا (سال) </p></label>
                        <input name="building_age" type="number" class="form-control" value="{{ item.building_age }}">
                      </div>
                    </div>

                    <div class="col-md-3 pr-md-4">
                      <div class="form-group">
                        {% if item.buy_status == 'رهن کامل' %}
                          <label><p class="text-xs text-secondary mb-0"> مبلغ رهن کامل (تومان) </p></label>
                          <input name="deposit" type="number" class="form-control" value="{{ item.deposit }}">
                        {% else %}
                          <label><p class="text-xs text-secondary mb-0"> قیمت فروش (تومان) </p></label>
                          <input name="price" type="number" class="form-control" value="{{ item.price }}">
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-md-3 pr-md-4">
                      <div class="form-group">
                        <label><p class="text-xs text-secondary mb-0"> نام مالک </p></label>
                        <input name="owner_name" type="text" class="form-control" value="{{ item.ownership.name }}">
                      </div>
                    </div>
                    <div class="col-md-3 pr-md-4">
                      <div class="form-group">
                        <label><p class="text-xs text-secondary mb-0"> شماره تماس مالک </p></label>
                        <input name="owner_phone" type="text" class="form-control" value="{{ item.ownership.phone }}">
                      </div>
                    </div>
                   </div>


 {% endif %}



                   <div class="row">
                     <div class="col-md-8 pr-md-4">
                       <div class="form-group">
                         <label><p class="text-xs text-secondary mb-0"> اطلاعات تکمیلی </p></label>
                         <textarea name="additional_information" class="form-control" rows="4" cols="50"> {{ item.additional_information }} </textarea>
                       </div>
                     </div>
                     <div class="col-md-1">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> پارکینگ </p></label> <br>
                            <input name="parking" type="checkbox" {% if item.parking %} checked {% endif %} >
                         </div>
                     </div>
                     <div class="col-md-1">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> آسانسور </p></label> <br>
                            <input name="elevator" type="checkbox" {% if item.elevator%} checked {% endif %} >
                         </div>
                     </div>
                     <div class="col-md-1">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> انباری </p></label> <br>
                            <input name="storage_room" type="checkbox" {% if item.storage_room %} checked {% endif %} >
                         </div>
                     </div>
                     <div class="col-md-1">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> بالکن </p></label> <br>
                            <input name="balcony" type="checkbox" {% if item.balcony %} checked {% endif %} >
                         </div>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col-md-2 pr-md-4">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary"> تصویر  </p></label>
                           <input name="img" type="file" class="text-xxs" style="color:transparent;" value="{{ item.image.url }}">
                         </div>
                     </div>
                     <div class="col-md-5 pr-md-4">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> لینک ویدیو  </p></label>
                           <input name="video" type="url" class="form-control" value="{{ item.video_link }}">
                         </div>
                     </div>

                   </div>


                   <span class="text-xs text-secondary"> حذف این فایل </span> <input name="remove" type="checkbox">





                 <div class="card-footer" align="center">
                   <button type="submit" class="btn bg-gradient-info my-1 me-1"> ثبت </button>
                     <a href="{{ link.get_absolute_crm_url }}"> <p style="color:green;"> {{ success }} </p> </a>
                 </div>

              </form>

         </div>
       </div>
     </div>
   </div>



    {% include "crm/includes/footer.html" %}


</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>

    $(function() {
      $('.selectpicker').selectpicker({
        liveSearch: true
      });
    });

</script>


{% endblock javascripts %}
