{% extends 'crm/layouts/base.html' %}

{% block title %} ویرایش مشتری  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- select search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/assets/css/bootstrap336.min.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}




<div class="container-fluid py-4">

  <div class="row" dir="rtl">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6> ویرایش {{customer.name}} </h6> <p class="text-xs text-secondary mb-0"> تغییرات مد نظر را اعمال کنید  </p> <hr>
        </div>
        <div class="card-body px-7 pt-4 pb-2">

               <form action="#" method="post" dir="rtl" align="right">
                 {% csrf_token %}
                 <div class="row">

                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> نام </p></label>
                      <input name="fname" type="text" class="form-control" value="{{ customer.user.first_name }}">
                    </div>
                  </div>

                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> نام خانوادگی </p></label>
                      <input name="lname" type="text" class="form-control" value="{{ customer.user.last_name }}">
                    </div>
                  </div>

                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> شماره تماس </p></label>
                      <input name="phone" type="text" class="form-control" value="{{ customer.phone }}">
                    </div>
                  </div>

                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> ایمیل </p></label>
                      <input name="email" type="email" class="form-control" value="{{ customer.user.email }}">
                    </div>
                  </div>

                 </div>

                 <div class="row">
                   <div class="col-md-12 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> اطلاعات تکمیلی </p></label>
                       <input name="additional_information" type="text" class="form-control" value="{{ customer.additional_information }}">
                     </div>
                   </div>
                  </div>


                   <div class="row">
                     <div class="col-md-2 pr-md-4">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> مشتری ویژه </p></label>
                            <input name="substantial" type="checkbox" {% if customer.user_type == "کاربر ویژه" %} checked {% endif %} >
                         </div>
                     </div>
                     <div class="col-md-2 pr-md-4">
                         <div class="form-group">
                           <label><p class="text-xs text-secondary mb-0"> حذف این مشتری  </p></label>
                            <input name="remove" type="checkbox">
                         </div>
                     </div>
                   </div>




                 <div class="card-footer" align="center">
                   <button type="submit" class="btn bg-gradient-info my-1 me-1"> ثبت </button>
                     <a href="{{ link.get_absolute_url }}"> <p style="color:green;"> {{ success }} </p> </a>
                 </div>

              </form>

         </div>
       </div>
     </div>
   </div>




    {% include "crm/includes/footer.html" %}


</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>


    $(function() {
      $('.selectpicker').selectpicker({
        liveSearch: true
      });
    });

</script>
{% endblock javascripts %}
