{% extends 'crm/layouts/base.html' %}

{% block title %} etc {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="container-fluid py-4">
  <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('/static/assets/img/bg.png'); background-position-y: 100%;"></div>


<div class="card card-body blur shadow-blur mx-4 mt-n6">

  <div class="row" dir="rtl">

    <div class="col-lg-12 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-9">
              <div class="d-flex flex-column h-100">
                <p class="text-lg mb-1 pt-2 text-bold"> املاک اَپ </p>
                <h4 class="text-info text-gradient font-weight-bolder">  دستیار اختصاصی مشاوران املاک </h4>
                <br>
                <p class="mb-5">
                  نرم افزار املاک اَپ، یک دستیارِ حرفه‌ای ، اختصاصی و جامع برای پوشش همه نیاز های آژانس های املاک، مشاورین املاک و بنگاه هاست. هدف این نرم افزار، اتوماسیون و افزایش سرعت همه کار هایی است که یک مشاور املاک به طور روزانه باید انجام بدهد، کارهایی مثل ثبت و مدیریت تقاضا های خرید و اجاره، پیدا کردن هوشمند بهترین مورد ها طبق تقاضای مشتری، یادآوری اقدامات و پیگیری ها،فایلینگ مشاوره املاک، بازدید ها و در نهایت قرارداد. علاوه بر پنل مدیریتی که همه این امکانات را برای کارشناسان فراهم میکند، این نرم افزار وبسایتی برای نمایش فایل ها با امکان جستجو پیشرفته و دارای قابلیت شخصی سازی دارد. نرم افزار املاک اَپ آژانس املاک به کار ها نظم میدهد و زمان شما را برای تمرکز بر روی معامله های مهم تر آزاد می کند.
                </p>
                <br>
                <p class="mb-5">
                  مشاورین املاک در هر لحظه با چندین مشتری در تماس هستند که هر کدام در مرحله متفاوتی از خرید مانند بازدید از ملک، قرار نشست و … قرار دارند. علاوه بر این باید از بین ده ها فایل ، ملک متناسب با نیاز هر مشتری را پیدا و معرفی کنند. نرم افزار املاک اَپ به مشاورین املاک و مستغلات کمک می کند یک مشاور حرفه ای هر یک از مشتری ها را در مسیر خرید و تصمیم گیری همراهی کنند و در عین حال نگاهی همه جانبه بر تمام مشتریان داشته باشند.
                  مشاورین املاک معمولا پر مشغله هستند و روزانه باید با تعداد زیادی مشتری تماس بگیرند، بازدید هماهنگ کنند و یا در قراری حاضر شوند. در این بازار رقابتی اگر بخواهید به روش سنتی و بدون کمک از تکنولوژی کار های خودتون رو پیش ببرید احتمالا کار برای شما سخت خواهد شد. با استفاده از یک نرم افزار پیشرفته مدیریت املاک مثل نرم افزار املاک اَپ، شما می تونید بسیاری از کار های روتین روزانه رو به سیستم بسپارید و با خیال راحت به کار های مهم تر بپردازید.
                </p>

                <div align="center">
                  <h2 class="text-info text-gradient font-weight-bolder"> آموزش استفاده به زودی افزوده خواهد شد </h2>
                </div>
                <br>
                <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="https://www.Amlak.app">
                    Amlak.app
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                  <img class="w-100 position-relative z-index-2 pt-4" src="/static/assets/crm/img/amlak.png">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% include "crm/includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
