{% extends 'crm/layouts/base.html' %}
{% load humanize %}

{% block title %} {{ item }}  {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="container-fluid py-4">

  <div class="row">
    <div class="col-lg-12 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-9">
              <div class="d-flex flex-column h-100">
                <p class="text-lg mb-1 pt-2 text-bold"> <i class="far fa-calendar-alt me-2"></i> <small> {{ item.date|naturalday }} </small> </p>
                <h3 dir="rtl" class="font-weight-bolder">
                  {{ item }}
                  <a class="btn btn-link text-dark px-3 mb-0 text-secondary text-xxs" href="{{ item.get_absolute_edit_url }}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i> ویرایش </a>
                  <a class="btn btn-link text-dark px-3 mb-0 text-secondary text-xxs" href="{{ item.get_absolute_url }}"><i class="fas fa-search text-dark me-2" aria-hidden="true"></i> مشاهده فایل در وبسایت </a>
                </h3>
                <div align="right" dir="rtl">
                  {{ item.additional_information|linebreaks }}
                </div>
              </div>
            </div>
            <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                  <img class="w-100 position-relative z-index-2 pt-4" src="{{ item.image.url }}">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <div class="table-responsive p-0" dir="rtl">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>

                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> کد فایل </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نوع معامله </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نوع ملک </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> منطقه </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> متراژ </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> قیمت </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> وضعیت </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle text-center">
                         <h6> {{ item.code  }} </h6>
                      </td>
                      <td class="align-middle text-center">
                         <h6> {{ item.buy_status  }} </h6>
                      </td>
                      <td class="align-middle text-center">
                         <h6> {{ item.estate_status  }} </h6>
                      </td>
                      <td class="align-middle text-center">
                         <h6> {{ item.area  }} </h6>
                      </td>
                      <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold"> {{ item.area_size  }} <small> متر </small> </span>
                      </td>
                      <td class="align-middle text-center">
                          {% if item.buy_status == 'فروش' %}
                            <span class="text-secondary text-xs font-weight-bold"> {{ item.price|floatformat:0|intcomma:False }} تومان </span>
                          {% elif item.buy_status == 'رهن کامل' %}
                            <span class="text-secondary text-xs font-weight-bold"> {{ item.deposit|floatformat:0|intcomma:False }} تومان </span>
                          {% elif item.buy_status == 'پیش فروش' %}
                            <span class="text-secondary text-xs font-weight-bold"> {{ item.price|floatformat:0|intcomma:False }} تومان </span>
                          {% elif item.buy_status == 'رهن و اجاره' %}
                            <small> <span class="text-secondary text-xs font-weight-bold"> ودیعه: {{ item.deposit|floatformat:0|intcomma:False }} &nbsp; اجاره: {{ item.rent|floatformat:0|intcomma:False }} تومان</span> </small>
                          {% endif %}
                      </td>
                      <td class="align-middle text-center">
                        {% if item.available %}
                          <p class="text-xs text-secondary mb-0"> <span class="badge badge-sm bg-gradient-success"> موجود </span> </p>
                        {% else %}
                          <p class="text-xs text-secondary mb-0"> <span class="badge badge-sm bg-gradient-warning"> ناموجود </span> </p>
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br>

                <div class="row">

                  <div class="col-lg-6" dir="rtl" align="right">
                    <p> <span class="text-xs text-secondary mb-0"> کارشناس فروش : </span> {{ item.sales_expert.first_name }} {{ item.sales_expert.last_name }} </p>
                    <p> <span class="text-xs text-secondary mb-0">   مالک : </span> {{ item.ownership.name }} &nbsp; &nbsp; {{ item.ownership.phone }} </p>
                  </div>

                  <div class="col-lg-6" align="left">
                    <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                      <div class="property-icon">
                        <!-- room qty -->
                        {% if item.estate_status == "آپارتمان"  or item.estate_status == "مغازه و تجاری" or item.estate_status == "دفتر کار اداری" or item.estate_status == "خانه ویلایی" or item.estate_status == "ویلا" %}
                          <img src="/static/assets/img/icon/bed-orange.png">[{{ item.room_qty }}]
                        {% endif %}
                        <!-- parking -->
                        {% if item.estate_status == "آپارتمان"  or item.estate_status == "مغازه و تجاری" or item.estate_status == "دفتر کار اداری" or item.estate_status == "خانه ویلایی" or item.estate_status == "ویلا" %}
                            {% if item.parking %}
                              <img src="/static/assets/img/icon/cars-orange.png">
                            {% else %}
                              <img src="/static/assets/img/icon/cars.png">
                            {% endif %}
                        {% endif %}
                        <!-- elevator -->
                        {% if item.estate_status == "آپارتمان"  or item.estate_status == "مغازه و تجاری" or item.estate_status == "دفتر کار اداری" %}
                            {% if item.elevator %}
                              <img src="/static/assets/img/icon/elevator-orange.png">
                            {% else %}
                              <img src="/static/assets/img/icon/elevator.png">
                            {% endif %}
                        {% endif %}
                        <!-- storage room -->
                        {% if item.estate_status == "آپارتمان"  or item.estate_status == "مغازه و تجاری" or item.estate_status == "دفتر کار اداری" or item.estate_status == "خانه ویلایی" or item.estate_status == "ویلا" %}
                            {% if item.storage_room %}
                              <img src="/static/assets/img/icon/warehouse-orange.png">
                            {% else %}
                              <img src="/static/assets/img/icon/warehouse.png">
                            {% endif %}
                        {% endif %}
                        <!-- balcony -->
                        {% if item.estate_status == "آپارتمان"  or item.estate_status == "مغازه و تجاری" or item.estate_status == "دفتر کار اداری" or item.estate_status == "خانه ویلایی" or item.estate_status == "ویلا" %}
                            {% if item.balcony %}
                              <img src="/static/assets/img/icon/balcony-orange.png">
                            {% else %}
                              <img src="/static/assets/img/icon/balcony.png">
                            {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>


                </div>



              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="container-fluid py-4">

     <div class="row" dir="rtl">
       <div class="col-12">
         <div class="card mb-4">
           <div class="card-header pb-0">
             <h6> سفارشات مربوط به این محصول: </h6>
           </div>
           <div class="card-body px-0 pt-0 pb-2">
             <div class="table-responsive p-0">
               <table class="table align-items-center mb-0">
                 <thead>
                   <tr>
                     <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نام مشتری </th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> محصول </th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> تعداد </th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> وضعیت </th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> کارشناس فروش </th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> درصد تخفیف </th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> تاریخ </th>
                   </tr>
                 </thead>
                 <tbody>
                  {% for Order_request in reqs %}
                   <tr>
                     <td>
                       <div class="d-flex px-2 py-1">
                         <div class="d-flex flex-column justify-content-center">
                           <a href="{{ Order_request.get_absolute_url }}">
                             <h6 class="mb-0 text-sm">
                               <img src="/static/assets/img/user.png" class="avatar avatar-sm me-3">
                               {{ Order_request.customer.name }}
                            </h6>
                          </a>
                         </div>
                       </div>
                     </td>

                     <td class="align-middle text-center text-sm">
                       <p class="text-xs text-secondary mb-0"> <img src="{{ Order_request.product.image.url }}" class="avatar avatar-sm me-3"> {{ Order_request.product.name }} </p>
                     </td>

                     <td class="align-middle text-center">
                       <p class="text-xs text-secondary mb-0"> {{ Order_request.qty }} عدد </p>
                     </td>

                     <td class="align-middle text-center">
                       {% if Order_request.status == 'تکمیل شده' %}
                         <span class="badge badge-sm bg-gradient-success"> تکمیل شده </span>
                       {% elif Order_request.status == 'لغو شده' %}
                         <span class="badge badge-sm bg-gradient-danger"> لغو شده </span>
                       {% elif Order_request.status == 'دریافت پیش پرداخت' %}
                         <span class="badge badge-sm bg-gradient-info"> دریافت پیش پرداخت </span>
                       {% elif Order_request.status == 'جدید' %}
                         <span class="badge badge-sm bg-gradient-warning"> جدید </span>
                       {% else %}
                         <span class="badge badge-sm bg-gradient-secondary"> در حال بررسی </span>
                       {% endif %}
                     </td>

                     <td class="align-middle text-center">
                       <p class="text-xs text-secondary mb-0"> {{ Order_request.user.first_name }} {{ Order_request.user.last_name }} </p>
                     </td>

                     <td class="align-middle text-center">
                       <p class="text-xs text-secondary mb-0"> {{ Order_request.discount }} ٪ </p>
                     </td>

                     <td class="align-middle text-center">
                       <p class="text-xs text-secondary mb-0"> {{ Order_request.date_created|date:'H:i  Y-m-d' }} </p>
                     </td>

                   </tr>
                  {% endfor %}
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>




     {% include "crm/includes/footer.html" %}

   </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
