{% extends 'crm/layouts/base.html' %}

{% block title %} سفارشات {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6> سفارشات </h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نام مشتری </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> محصول </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> تعداد </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> وضعیت </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> کارشناس فروش </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> درصد تخفیف </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> تاریخ </th>
                  </tr>
                </thead>
                <tbody>
                 {% for Order_request in reqs %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <a href="{{ Order_request.get_absolute_url }}">
                            <h6 class="mb-0 text-sm">
                              {% if Order_request.customer.substantial %}
                                <img src="/static/assets/img/golduser.png" class="avatar avatar-sm me-3">
                              {% else %}
                                <img src="/static/assets/img/user.png" class="avatar avatar-sm me-3">
                              {% endif %}
                              {{ Order_request.customer.name }}
                           </h6>
                         </a>
                        </div>
                      </div>
                    </td>

                    <td class="align-middle text-center text-sm">
                      <p class="text-xs text-secondary mb-0"> <img src="{{ Order_request.product.image.url }}" class="avatar avatar-sm me-3"> {{ Order_request.product.name }} </p>
                    </td>

                    <td class="align-middle text-center">
                      <p class="text-xs text-secondary mb-0"> {{ Order_request.qty }} عدد </p>
                    </td>

                    <td class="align-middle text-center">
                      {% if Order_request.status == 'تکمیل شده' %}
                        <span class="badge badge-sm bg-gradient-success"> تکمیل شده </span>
                      {% elif Order_request.status == 'لغو شده' %}
                        <span class="badge badge-sm bg-gradient-danger"> لغو شده </span>
                      {% elif Order_request.status == 'دریافت پیش پرداخت' %}
                        <span class="badge badge-sm bg-gradient-info"> دریافت پیش پرداخت </span>
                        {% elif Order_request.status == 'جدید' %}
                          <span class="badge badge-sm bg-gradient-warning"> جدید </span>
                      {% else %}
                        <span class="badge badge-sm bg-gradient-secondary"> در حال بررسی </span>
                      {% endif %}
                    </td>

                    <td class="align-middle text-center">
                      <p class="text-xs text-secondary mb-0"> {{ Order_request.user.first_name }} {{ Order_request.user.last_name }} </p>
                    </td>

                    <td class="align-middle text-center">
                      <p class="text-xs text-secondary mb-0"> {{ Order_request.discount }} ٪ </p>
                    </td>

                    <td class="align-middle text-center">
                      <p class="text-xs text-secondary mb-0"> {{ Order_request.date_created|date:'H:i  Y-m-d' }} </p>
                    </td>

                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <ul class="pagination">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" style="color:black" href="?page=1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
          <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active"><a class="page-link" style="color:#ffffff; background-color: black; border-color: black;" href="?page={{num}}">{{num}}</a></li>
          {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-item"><a class="page-link" style="color:black" href="?page={{num}}">{{num}}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" style="color:black" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
        {% endif %}
      {% endif %}
     </ul>





    {% include "crm/includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
