{% extends 'crm/layouts/base.html' %}

{% block title %} ایجاد درخواست {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- select search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/assets/crm/css/bootstrap336.min.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}


<div class="container-fluid py-4">

  <div class="row" dir="rtl">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>  ایجاد درخواست  </h6> <p class="text-xs text-secondary mb-0"> ایجاد یک درخواست جدید برای مشتری </p> <hr>
        </div>
        <div class="card-body px-7 pt-4 pb-2">

               <form action="#" method="post" dir="rtl" align="right">
                 {% csrf_token %}

                 <div class="row">
                   <div class="col-md-6 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> مشتری </p></label>
                       <select name="customer" class="form-control selectpicker" data-live-search="true">
                         {% for Customer in customers %}
                          {% if Customer.sales_expert.user == user or uProfile.user_type == 'مدیر' %}
                           <option value={{Customer.id}}> {{Customer.user.first_name}} {{Customer.user.last_name}} | {{Customer.phone}}   </option>
                          {% endif %}
                         {% endfor %}
                       </select>
                     </div>
                   </div>
                   <div class="col-md-6 pr-md-4">
                     <div class="form-group">
                     <label><p class="text-xs text-secondary mb-0"> فایل </p></label>
                      <select name="item" class="form-control selectpicker" data-live-search="true">
                        {% for Item in items %}
                         {% if Item.sales_expert == user or uProfile.user_type == 'مدیر' %}
                          <option value={{Item.id}}> {{Item}} | {{Item.code}} </option>
                         {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                 </div>

                 <div class="row">
                   <div class="col-md-12 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> اطلاعات تکمیلی </p></label>
                       <textarea name="description" class="form-control" rows="4" cols="50"></textarea>
                     </div>
                   </div>
                 </div>


                 <div class="card-footer" align="center">
                   <button type="submit" class="btn bg-gradient-info my-1 me-1"> ثبت </button>
                   <a href="{{ link.get_absolute_url }}"> <p style="color:green;"> {{ success }} </p> </a>
                 </div>

              </form>

         </div>
       </div>
     </div>
   </div>




    {% include "crm/includes/footer.html" %}


</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>


    $(function() {
      $('.selectpicker').selectpicker({
        liveSearch: true
      });
    });

</script>
{% endblock javascripts %}
