{% extends 'crm/layouts/base.html' %}

{% load humanize %}

{% block title %} جستجو {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="container-fluid py-4">
  <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('/static/assets/img/bg.png'); background-position-y: 100%;"></div>


    <div class="card card-body blur shadow-blur mx-4 mt-n6">
      <div class="row" dir="rtl">

        <div class="col-lg-12 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="d-flex flex-column h-100">
                <h4 class="text-lg mb-1 pt-2 text-bold">  موارد پیدا شده </h4>
                <br>
                <div class="table-responsive p-0">




                  <p class="text-info  font-weight-bolder"> مشتریان </p>
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> مشتری </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> شماره تماس </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> اطلاعات تکمیلی </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> فایل های درخواستی </th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for Customer in customer %}
                         {% if Customer.sales_expert.user == user or uProfile.user_type == 'مدیر' %}

                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                  <a href="{{ Customer.get_absolute_url }}">
                                    <h6 class="mb-0 text-sm">
                                      <img src="{{ Customer.user_photo.url }}" class="avatar avatar-sm me-3">
                                      {{ Customer.user.first_name }} {{ Customer.user.last_name }}
                                      {% if Customer.user_type == 'کاربر ویژه' %}
                                         <img src="/static/assets/crm/img/star.png" width="20px" class="me-2">
                                      {% endif %}
                                   </h6>
                                 </a>
                                </div>
                              </div>
                            </td>

                            <td>
                              {{ Customer.phone }}
                            </td>


                            <td>
                              {{ Customer.short_description }}...
                            </td>

                            <td class="align-middle text-center text-sm">
                              <div class="avatar-group mt-2">
                                {% for Order_request in reqs %}
                                {% if Order_request.customer == Customer %}
                                  <a href="{{ Order_request.item.get_absolute_crm_url }}">
                                    <img src="{{ Order_request.item.image.url }}" class="avatar avatar-sm me-3">
                                    <span class="text-xxs"> کد: {{ Order_request.item.code  }} </span>
                                  </a>
                                {% endif %}
                                {% endfor %}
                              </div>
                            </td>
                          </tr>


                          {% endif %}
                     {% endfor %}
                    </tbody>
                  </table>
                  <br><br>


                  <p class="text-info  font-weight-bolder"> فایل ها </p>
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> فایل </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نوع معامله </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> نوع ملک </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> منطقه </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> متراژ </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> قیمت </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">  نمایش در سایت  </th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for Item in item %}
                       {% if Item.sales_expert == user or uProfile.user_type == 'مدیر' %}
                          <tr>
                            <td class="align-middle text-center">
                               <a href="{{ Item.get_absolute_crm_url }}">
                                 <img src="{{ Item.image.url }}" class="avatar avatar-sm me-3">
                                 <span class="text-xxs"> کد: {{ Item.code  }} </span>
                               </a>
                            </td>
                            <td class="align-middle text-center">
                               <h6> {{ Item.buy_status  }} </h6>
                            </td>
                            <td class="align-middle text-center">
                               <h6> {{ Item.estate_status  }} </h6>
                            </td>
                            <td class="align-middle text-center">
                               <h6> {{ Item.area  }} </h6>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold"> {{ Item.area_size  }} <small> متر </small> </span>
                            </td>
                            <td class="align-middle text-center">
                                {% if Item.buy_status == 'فروش' %}
                                  <span class="text-secondary text-xs font-weight-bold"> {{ Item.price|floatformat:0|intcomma:False }} تومان </span>
                                {% elif Item.buy_status == 'رهن کامل' %}
                                  <span class="text-secondary text-xs font-weight-bold"> {{ Item.deposit|floatformat:0|intcomma:False }} تومان </span>
                                {% elif Item.buy_status == 'پیش فروش' %}
                                  <span class="text-secondary text-xs font-weight-bold"> {{ Item.price|floatformat:0|intcomma:False }} تومان </span>
                                {% elif Item.buy_status == 'رهن و اجاره' %}
                                  <small> <span class="text-secondary text-xs font-weight-bold"> ودیعه:{{ Item.deposit|floatformat:0|intcomma:False }} اجاره:{{ Item.rent|floatformat:0|intcomma:False }} تومان</span> </small>
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">
                              {% if Item.available %}
                                <a class="badge badge-sm bg-gradient-success text-xxs" href="{{ Item.get_absolute_url }}"><i class="fas fa-search text-dark me-2" aria-hidden="true"></i> قابل مشاهده </a>
                              {% else %}
                                <p class="text-xs text-secondary mb-0"> <span class="badge badge-sm bg-gradient-warning"> عدم نمایش </span> </p>
                              {% endif %}
                            </td>
                          </tr>
                        {% endif %}
                     {% endfor %}
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>





{% include "crm/includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
