{% extends 'crm/layouts/base.html' %}

{% block title %} ویرایش نتظیمات {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- select search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/static/assets/css/bootstrap336.min.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}




<div class="container-fluid py-4">

  <div class="row" dir="rtl">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6> تنظیمات سایت </h6> <p class="text-xs text-secondary mb-0"> اطلاعات کلی سایت خود را ویرایش کنید کنید </p> <hr>
        </div>
        <div class="card-body px-7 pt-4 pb-2">

               <form action="#" method="post" dir="rtl" align="right">
                 {% csrf_token %}

                 <div class="row">
                   <div class="col-md-6 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> عنوان </p></label>
                       <input name="title" type="text" class="form-control" value="{{ settings.title }}">
                     </div>
                   </div>
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> تلفن ۱ </p></label>
                       <input name="phone1" type="text" class="form-control" value="{{ settings.phone1 }}">
                     </div>
                   </div>
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> تلفن ۲ </p></label>
                       <input name="phone2" type="text" class="form-control" value="{{ settings.phone2 }}">
                     </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> متن زیر عنوان </p></label>
                      <input name="title_below" type="text" class="form-control" value="{{ settings.title_below }}">
                    </div>
                  </div>
                  <div class="col-md-12 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> متن معرفی </p></label>
                      <textarea name="introduction_text" class="form-control" rows="2" cols="50"> {{ settings.introduction_text }} </textarea>
                    </div>
                  </div>
               </div>


                 <div class="row">
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> شماره واتساپ </p></label>
                       <input name="whatsapp_number" type="text" class="form-control" value="{{ settings.whatsapp_number }}">
                     </div>
                   </div>
                   <div class="col-md-4 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> ایمیل </p></label>
                       <input name="email" type="email" class="form-control" value="{{ settings.email }}">
                     </div>
                   </div>
                   <div class="col-md-2 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> تعداد کارشناسان </p></label>
                       <input name="experts_number" type="text" class="form-control" value="{{ settings.experts_number }}">
                     </div>
                   </div>
                   <div class="col-md-3 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> lat & long روی نقشه </p></label>
                       <input name="lat_long" type="text" class="form-control" value="{{ settings.lat_long }}">
                     </div>
                   </div>
                 </div>

                 <div class="row">
                   <div class="col-md-12 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> آدرس </p></label>
                       <input name="address" type="text" class="form-control" value="{{ settings.address }}">
                     </div>
                   </div>
                   <div class="col-md-12 pr-md-4">
                     <div class="form-group">
                       <label><p class="text-xs text-secondary mb-0"> متن صفحه تماس با ما </p></label>
                       <textarea name="contact_page_text" class="form-control" rows="2" cols="50"> {{ settings.contact_page_text }} </textarea>
                     </div>
                   </div>
                </div>

                <div class="row">
                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> لینک اینستاگرام </p></label>
                      <input name="instagram" type="text" class="form-control" value="{{ settings.instagram }}">
                    </div>
                  </div>
                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> لینک تلگرام </p></label>
                      <input name="telegram" type="text" class="form-control" value="{{ settings.telegram }}">
                    </div>
                  </div>
                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> لینک توییتر </p></label>
                      <input name="twitter" type="text" class="form-control" value="{{ settings.twitter }}">
                    </div>
                  </div>
                  <div class="col-md-3 pr-md-4">
                    <div class="form-group">
                      <label><p class="text-xs text-secondary mb-0"> لینک واتس اپ </p></label>
                      <input name="whatsapp" type="text" class="form-control" value="{{ settings.whatsapp }}">
                    </div>
                  </div>
                </div>

                 <div class="card-footer" align="center">
                   <button type="submit" class="btn bg-gradient-info my-1 me-1"> ذخیره </button>
                    <p style="color:green;"> {{ success }} </p>
                 </div>

              </form>

              <hr>

              <div class="row" align="center" dir="rtl">
                <div class="col-md-6 pr-md-4">
                  <form action="{% url 'logoupload' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                          <label><p class="text-xs text-secondary"> تصویر لوگو </p></label>
                          <input name="logo" type="file" class="text-xxs" value="{{ settings.logo.url }}">
                          <br>
                          <button type="submit" class="btn bg-gradient-secondary my-1 me-1 text-xxs"> آپلود لوگو </button>
                      </div>
                  </form>
                </div>
                <div class="col-md-6 pr-md-4">
                  <form action="{% url 'headerupload' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                          <label><p class="text-xs text-secondary"> تصویر سربرگ (header)  </p></label>
                          <input name="header_image" type="file" class="text-xxs" value="{{ settings.header_image.url }}">
                          <br>
                          <button type="submit" class="btn bg-gradient-secondary my-1 me-1 text-xxs"> آپلود تصویر سربرگ </button>
                      </div>
                  </form>
                </div>
              </div>


         </div>
       </div>
     </div>
   </div>




    {% include "crm/includes/footer.html" %}


</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>


    $(function() {
      $('.selectpicker').selectpicker({
        liveSearch: true
      });
    });

</script>
{% endblock javascripts %}
