{% load static %}

<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
      GARO ESTATE | {% block title %}{% endblock %}
  </title>
  <meta name="description" content="GARO is a real-estate template">
  <meta name="author" content="Kimarotec">
  <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontello.css">
  <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
  <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>


  <div id="preloader">
  		<div id="status">&nbsp;</div>
  </div>
  <!-- Body content -->


  <div class="header-connect">
  		<div class="container">
  				<div class="row">
  						<div class="col-md-5 col-sm-8  col-xs-12">
  								<div class="header-half header-call">
  										<p>
  												<span><i class="pe-7s-call"></i> +1 234 567 7890</span>
  												<span><i class="pe-7s-mail"></i> your@company.com</span>
  										</p>
  								</div>
  						</div>
  						<div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
  								<div class="header-half header-social">
  										<ul class="list-inline">
                          <li><a href="#"><i class="fa fa-instagram" style="font-size:20px"></i></a></li>
                          <li><a href="#"><i class="fa fa-telegram" style="font-size:20px"></i></a></li>
  												<li><a href="#"><i class="fa fa-twitter" style="font-size:20px"></i></a></li>
  												<li><a href="#"><i class="fa fa-whatsapp" style="font-size:20px"></i></a></li>

  										</ul>
  								</div>
  						</div>
  				</div>
  		</div>
  </div>
  <!--End top header -->

  <nav class="navbar navbar-default ">
  		<div class="container">
  				<!-- Brand and toggle get grouped for better mobile display -->
  				<div class="navbar-header">
  						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
  								<span class="sr-only">Toggle navigation</span>
  								<span class="icon-bar"></span>
  								<span class="icon-bar"></span>
  								<span class="icon-bar"></span>
  						</button>
  						<a class="navbar-brand" href="{% url 'app:home' %}"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
  				</div>

  				<!-- Collect the nav links, forms, and other content for toggling -->
  				<div class="collapse navbar-collapse yamm" id="navigation">
  						<div class="button navbar-right">
                {% if user.is_authenticated %}
                <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.location.replace('{% url 'logout' %}')" data-wow-delay="0.5s"> خروج </button>
                <button class="navbar-btn nav-button wow fadeInRight login" onclick=" window.location.replace('{% url 'app:profile' %}')" data-wow-delay="0.5s"> پروفایل </button>
                  {% if request.user.is_superuser %}
                   <a href="{% url 'admin:index' %}">  پنل مدیریت  <i class="fa fa-dashboard" style="font-size:20px"></i> </a>
                  {% endif %}
                {% else %}
                <button class="navbar-btn nav-button wow bounceInRight" onclick="window.location.replace('{% url 'register' %}')" data-wow-delay="0.4s"> ثبت نام </button>
                <button class="navbar-btn nav-button wow fadeInRight login" onclick=" window.location.replace('{% url 'login' %}')" data-wow-delay="0.5s"> ورود </button>
                {% endif %}
  						</div>
  						<ul class="main-nav nav navbar-nav navbar-right">
  								<li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="{% url 'app:home' %}"> صفحه اصلی </a> </li>
  								<li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="{% url 'app:items' %}"> جستجوی املاک </a></li>
  								<li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="property.html"> اخبار </a></li>
  								<li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="{% url 'app:favs' %}"> مورد علاقه ها  </a></li>
  								<li class="wow fadeInDown" data-wow-delay="0.4s"><a href="{% url 'app:contact' %}"> تماس با ما </a></li>
  						</ul>
  				</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
  </nav>
  <!-- End of nav bar -->



    {% block content %}{% endblock content %}








    	<!-- Footer area-->
    <div class="footer-area">

    		<div class=" footer">
    				<div class="container">
    						<div class="row">

    								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
    										<div class="single-footer">
    												<h4> درباره ما </h4>
    												<div class="footer-title-line"></div>

    												<img src="{% static 'assets/img/footer-logo.png' %}" alt="" class="wow pulse" data-wow-delay="1s">
    												<p dir="rtl"> آتروتک با برخوردارى از نيروى انسانى متخصص و پشتوانه علمى و تجربى، با استفاده از آخرين روش هاى فن آورى و مهندسى موفق به ارائه خدمات گسترده و با كيفيت براى مشتريان گرديده </p>
    												<ul class="footer-adress">
    														<li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
    														<li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
    														<li><i class="pe-7s-call strong"> </i> +1 908 967 5906</li>
    												</ul>
    										</div>
    								</div>
    								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
    										<div class="single-footer">
    												<h4> پیوندها  </h4>
    												<div class="footer-title-line"></div>
    												<ul class="footer-menu">
    														<li><a href="properties.html">Properties</a>  </li>
    														<li><a href="#">Services</a>  </li>
    														<li><a href="submit-property.html">Submit property </a></li>
    														<li><a href="contact.html">Contact us</a></li>
    														<li><a href="faq.html">fqa</a>  </li>
    														<li><a href="faq.html">Terms </a>  </li>
    												</ul>
    										</div>
    								</div>
    								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
    										<div class="single-footer">
    												<h4> آخرین اخبار </h4>
    												<div class="footer-title-line"></div>
    												<ul class="footer-blog">
    														<li>
    																<div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
    																		<a href="single.html">
    																				<img src="{% static 'assets/img/demo/small-proerty-2.jpg' %}">
    																		</a>
    																		<span class="blg-date">12-12-2016</span>

    																</div>
    																<div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
    																		<h6> <a href="single.html"> دستگاه چاپ تامپو رومیزی </a></h6>
    																		<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
    																</div>
    														</li>

    														<li>
    																<div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
    																		<a href="single.html">
    																				<img src="{% static 'assets/img/demo/small-proerty-2.jpg' %}">
    																		</a>
    																		<span class="blg-date">12-12-2016</span>

    																</div>
    																<div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
    																		<h6> <a href="single.html"> دستگاه چاپ تامپو رومیزی </a></h6>
    																		<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
    																</div>
    														</li>

    														<li>
    																<div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
    																		<a href="single.html">
    																				<img src="{% static 'assets/img/demo/small-proerty-2.jpg' %}">
    																		</a>
    																		<span class="blg-date">12-12-2016</span>

    																</div>
    																<div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
    																		<h6> <a href="single.html"> دستگاه چاپ تامپو رومیزی </a></h6>
    																		<p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
    																</div>
    														</li>


    												</ul>
    										</div>
    								</div>
    								<div class="col-md-3 col-sm-6 wow fadeInRight animated">
    										<div class="single-footer news-letter">
    												<h4> در ارتباط باشید </h4>
    												<div class="footer-title-line"></div>
    												<p dir="rtl">Lorem ipsum dolor sit amet, nulla  suscipit similique quisquam molestias. Vel unde, blanditiis.</p>

    												<form>
    														<div class="input-group">
    																<input class="form-control" type="text" placeholder="E-mail ... ">
    																<span class="input-group-btn">
    																		<button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
    																</span>
    														</div>
    														<!-- /input-group -->
    												</form>

    												<div class="social pull-right">
    														<ul>
    																<li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
    																<li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
    																<li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
    																<li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
    																<li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
    														</ul>
    												</div>
    										</div>
    								</div>

    						</div>
    				</div>
    		</div>

    		<div class="footer-copy text-center">
    				<div class="container">
    						<div class="row">
    								<div class="pull-left">
    										<span> &#169; <a href="http://www.Atrotech.ir">Atrotech</a> , All rights reserved 2021 </span>
    								</div>
    								<div class="bottom-menu pull-right">
    										<ul>
    												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
    												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
    												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
    												<li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
    										</ul>
    								</div>
    						</div>
    				</div>
    		</div>

    </div>








    <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

    <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>

    <script src="{% static 'assets/js/icheck.min.js' %}"></script>
    <script src="{% static 'assets/js/price-range.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>


    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
