{% extends 'base.html' %}
{% block title %}
<title>{{post.title_tag}}</title>
{% endblock %}
{% block content %}



<div style="background:#494C53 url({{ settings.header_image.url }}) no-repeat scroll center top / cover; color:#FFF; position: relative; min-height: 140px; ">
    <div class="container">
        <div class="row" dir="rtl" align="right">
            <div class="page-head-content">
                <h1 class="page-title"> {{post.title}} </h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->






<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="blog-lst col-md-12 pl0">
              <section class="post">
                  <div class="text-center padding-b-50">
                      <h2 class="wow fadeInLeft animated" dir="rtl"> </h2>
                      <div class="title-line wow fadeInRight animated"></div>
                  </div>

                  <div class="row">
                      <div class="col-sm-6">
                          <p class="author-category">
                              نویسنده:  <a href="#"> {{post.author.first_name}} </a> |
                              دسته بندی:  <a href="#"> {{post.category}} </a>
                          </p>
                      </div>
                      <div class="col-sm-6 right">
                          <p class="date-comments" dir="rtl">
                              <a href="#"><i class="fa fa-calendar-o"></i> {{post.j_post_date }} </a>
                              <a href="#"><i class="fa fa-comment-o"></i> {{ post.comments.all.count }} نظر</a>
                          </p>
                      </div>
                  </div>
                  <div class="image wow fadeInLeft animated">
                      <a href="{% url 'blog-detail' post.slug %}">
                          <img src="{{post.img.url}}" class="img-responsive" alt="Example blog post alt">
                      </a>
                  </div>
                  <div dir="rtl" align="right">
                    <p class="intro"> {{post.body|linebreaks}} </p>
                  </div>

                  <hr>
              </section>



              {% if not request.user.is_authenticated %}
              <div class="alert alert-danger">برای اظهار نظر ، ابتدا <a href="/login"> وارد </a>  حساب کاربری خود شوید </div>
              {% endif %}

              {% if request.user.is_authenticated %}
                <div class="card" dir="rtl">
                  <form action="{% url 'send_comment' post.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <textarea name="message" cols="100" rows="2"></textarea>
                    <button type="submit" class="btn btn-lg btn-dark"> افزودن نظر </button>
                  </form>
                </div>
              {% endif %}



                <section id="comments" class="comments wow fadeInRight animated">
                    <h4 class="text-uppercase wow fadeInLeft animated">{{ post.comments.all.count }} نظر </h4>

                  {% for comment in post.comments.all %}
                    <div class="row comment" dir="rtl" align="right">
                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="{{ comment.sender.profile.user_photo.url}}" class="img-circle" style="max-width:100px;">
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase"> {{ comment.sender.first_name}} </h5>
                            <p class="posted"><i class="fa fa-clock-o"></i> {{ comment.j_create_at }} </p>
                            <p> {{ comment.message }} </p>
                        </div>
                        {% empty %}
                          <div class="alert alert-danger"> هیچ نظری وجود ندارد </div>
                    </div>
                  {% endfor %}



                </section>

            </div>
        </div>

    </div>
</div>









{% endblock %}
