{% extends "base.html" %}
{% load static %}

{% block title %} contact {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




        <div class="page-head">
            <div class="container">
                <div class="row" dir="rtl">
                    <div class="page-head-content">
                        <h1 class="page-title"> تماس با ما </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->












        <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row" dir="rtl" align="center">

                    <div class="blog-lst col-md-12 pl0">
                      <section class="post">
                          <div class="text-center padding-b-50">
                              <h2 class="wow fadeInLeft animated" dir="rtl"> hhhh hh hhh jjjjj j hh  </h2>
                              <div class="title-line wow fadeInRight animated"></div>
                          </div>
                            <p>
                              سامانه هوشمند خرید و فروش ، رهن و اجاره املاک
    برای جستجو ملک ، نوع معامله و شهر مربوط را انتخاب کرده و بر روی دکمه جستجو کلیک نمایید.تمام امکانات کاملا رایگان می باشد. لطفا قبل از بازدید از ملک و یا عقد هرگونه قرارداد، با آگهی دهنده تماس حاصل نمایید و از صحت فایل اطمینان حاصل نمایید.
                            </p>
                      </section>
                    </div>

                </div>
            </div>
        </div>






        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container" dir="rtl" align="center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="" id="contact1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-map-marker"></i> آدرس </h3>
                                    <p>13/25 shibuia
                                        <br>Tokyo
                                        <br>45Y 73J
                                        <br>
                                        <strong>Japan</strong>
                                    </p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-phone"></i> تماس تلفنی </h3>
                                    <p class="text-muted">This number is toll free if calling from
                                        Great Britain otherwise we advise you to use the electronic
                                        form of communication.</p>
                                    <p><strong>+33 555 444 333</strong></p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-envelope"></i> پشتیبانی الکترونیکی </h3>
                                    <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                                    <ul>
                                        <li><strong><a href="mailto:">info@company.com</a></strong>   </li>
                                        <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                                    </ul>
                                </div>
                                <!-- /.col-sm-4 -->
                            </div>
                            <!-- /.row -->


                            <hr>
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.2104004364883!2d51.47881431531703!3d35.67182098019641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQwJzE4LjYiTiA1McKwMjgnNTEuNiJF!5e0!3m2!1sen!2s!4v1633505661584!5m2!1sen!2s" width="700" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <hr>





                            <h2> فرم تماس </h2> <hr>
                            <form method="post" dir="rtl">
                              {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">شماره تماس</label>
                                            <input name="phone" type="text" class="form-control" id="phone">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">نام</label>
                                            <input name="name" type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="body"> متن پیام </label>
                                            <textarea name="body" id="body" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> ارسال پیام </button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>









{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
