{% extends "base.html" %}
{% load static %}

{% block title %} index {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">
           {% for Slider in img %}
             <div class="item"><img src="{{ Slider.Image.url }}"></div>
           {% endfor %}
        </div>
    </div>
    <div class="slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>property Searching Just Got So Easy</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
                <div class="search-form wow pulse" data-wow-delay="0.8s">

                    <form action="" class=" form-inline">
                        <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Key word">
                        </div>
                        <div class="form-group">
                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">

                                <option>New york, CA</option>
                                <option>Paris</option>
                                <option>Casablanca</option>
                                <option>Tokyo</option>
                                <option>Marraekch</option>
                                <option>kyoto , shibua</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="basic" class="selectpicker show-tick form-control">
                                <option> -Status- </option>
                                <option>Rent </option>
                                <option>Boy</option>
                                <option>used</option>

                            </select>
                        </div>
                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

                        <div style="display: none;" class="search-toggle">

                            <div class="search-row">

                                <div class="form-group mar-r-20">
                                    <label for="price-range">Price range ($):</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[0,450]" id="price-range" ><br />
                                    <b class="pull-left color">2000$</b>
                                    <b class="pull-right color">100000$</b>
                                </div>
                                <!-- End of  -->

                                <div class="form-group mar-l-20">
                                    <label for="property-geo">Property geo (m2) :</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[50,450]" id="property-geo" ><br />
                                    <b class="pull-left color">40m</b>
                                    <b class="pull-right color">12000m</b>
                                </div>
                                <!-- End of  -->
                            </div>

                            <div class="search-row">

                                <div class="form-group mar-r-20">
                                    <label for="price-range">Min baths :</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[250,450]" id="min-baths" ><br />
                                    <b class="pull-left color">1</b>
                                    <b class="pull-right color">120</b>
                                </div>
                                <!-- End of  -->

                                <div class="form-group mar-l-20">
                                    <label for="property-geo">Min bed :</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[250,450]" id="min-bed" ><br />
                                    <b class="pull-left color">1</b>
                                    <b class="pull-right color">120</b>
                                </div>
                                <!-- End of  -->

                            </div>
                            <br>
                            <div class="search-row">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Fire Place(3100)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Dual Sinks(500)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Hurricane Shutters(99)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->
                            </div>

                            <div class="search-row">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Swimming Pool(1190)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 2 Stories(4600)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Emergency Exit(200)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->
                            </div>

                            <div class="search-row">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Laundry Room(10073)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Jog Path(1503)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> 26' Ceilings(1200)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->
                                <br>
                                <hr>
                            </div>
                            <button class="btn search-btn prop-btm-sheaerch" type="submit"><i class="fa fa-search"></i></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<br><br><br><br>
 <h2> hhhhhhhh... </h2>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <br>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <br>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
 <p> gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd gdgd fertrty uuiku nghf wew gerthrh bfgnbfv svdbd  </p>
<br><br><br><br>










{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
