{% extends "base.html" %}
{% load static %}

{% block title %} {{ Item }} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
 <link rel="stylesheet" href="{% static 'assets/css/lightslider.min.css' %}">
{% endblock stylesheets %}

{% block content %}

{% load bootstrap %}
{% load jalali_tags %}
{% load extra_settings %}



        <div style="background:#494C53 url({{ header.url }}) no-repeat scroll center top / cover; color:#FFF; position: relative; min-height: 140px; ">
            <div class="container">
                <div class="row" dir="rtl">
                    <div class="page-head-content">
                        <h1 class="page-title"> {{ Item }} </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">

                <div class="clearfix padding-top-40" >

                    <div class="col-md-8 single-property-content prp-style-2">
                        <div class="">
                            <div class="row">
                                <div class="light-slide-item">
                                    <div class="clearfix">

                                          <div class="favorite-and-print">
                                            {% if user.is_authenticated %}
                                              <form action="" method="post">
                                              {% csrf_token %}
                                                {% if Item.id in item_fav %}
                                                 <button type="submit"> <i class="fa fa-star" style="color:orange; font-size:25px;"></i> </button>
                                                {% else %}
                                                 <button type="submit"> <i class="fa fa-star" style="font-size:25px;"></i> </button>
                                                {% endif %}
                                              </form>
                                              {% else %}
                                                <p dir="rtl"> <i class="fa fa-star" style="font-size:15px;"></i>  برای ذخیره در لیست مورد علاقه ها لطفا <a href="{% url 'login' %}">وارد</a> شوید </p>
                                              {% endif %}
                                          </div>

                                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">

                                           {% for ItemImage in item_img %}
                                             <li data-thumb="{{ ItemImage.Image.url }}">
                                                 <img src="{{ ItemImage.Image.url }}"/>
                                             </li>
                                           {% endfor %}
                                           <li data-thumb="{{ Item.image.url }}">
                                               <img src="{{ Item.image.url }}"/>
                                           </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-property-wrapper" dir="rtl">

                                <div class="section">
                                    <h4 class="s-property-title"> توضیحات </h4>
                                    <div class="s-property-content">
                                        <p> {{ Item.additional_information|linebreaks }} </p>
                                    </div>
                                </div>
                                <!-- End description area  -->

                                <div class="section additional-details">

                                    <h4 class="s-property-title"> جزئیات تکمیلی </h4>

                                    <ul class="additional-details-list clearfix">
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title"> سن بنا </span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{ Item.building_age }} </span>
                                        </li>

                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title"> متراژ </span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{ Item.area_size }} </span>
                                        </li>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title"> منطقه </span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{ Item.area }} </span>
                                        </li>

                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title"> برچسب </span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {% for tags in Item.tags.all %}{{ tags }} , {% endfor %} </span>
                                        </li>

                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title"> تاریخ آگهی </span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{ Item.date|to_jalali:'%Y/%m/%d'  }} </span>
                                        </li>


                                    </ul>
                                </div>
                                <!-- End additional-details area  -->


                                <div class="section property-video">
                                    <h4 class="s-property-title"> ویدئو </h4>
                                    <div class="video-thumb"  align="center">
                                        <a class="video-popup" href="{{ Item.video_link }}" title="Virtual Tour">
                                            <img src="{% static 'assets/img/video.png' %}" class="img-responsive wp-post-image" alt="Exterior">
                                        </a>
                                        <p> برای مشاهده ویدیو کلیک کنید </p>
                                    </div>
                                </div>
                                <!-- End video area  -->

                            </div>
                        </div>

                        <div class="similar-post-section padding-top-40">
                          <h4 class="s-property-title" dir="rtl"> سایر موارد موجود در این منطقه </h4>
                            <div id="prop-smlr-slide_0">

                              {% for Item in similar_items %}
                                <div class="box-two proerty-item">
                                  <div class="box-two proerty-item">
                                      <div class="item-thumb">
                                          <a href="property-1.html" ><img src="{{ Item.image.url }}"></a>
                                      </div>

                                      <div class="item-entry overflow" dir="rtl">
                                          <h6><a href="{{ Item.get_absolute_url }}"> {{ Item }} </a></h6>
                                          <div class="dot-hr"></div>
                                          <span class="pull-left"> {{ Item.area_size }} متر  </span>
                                          <span class="proerty-price pull-right">
                                            {% if Item.buy_status == 'خرید' %}
                                             <span class="proerty-price pull-right"> {{ Item.price }} تومان </span>
                                            {% elif Item.buy_status == 'رهن' %}
                                             <span class="proerty-price pull-right"> {{ Item.deposit }} تومان </span>
                                            {% elif Item.buy_status == 'اجاره' %}
                                            <small> <span class="proerty-price pull-right"> پیش:{{ Item.deposit }} اجاره:{{ Item.rent }} تومان</span> </small>
                                            {% endif %}
                                          </span>
                                          <p style="display: none;"> {{ Item.additional_information|slice:":120" }}...  </p>
                                          <div class="property-icon">
                                              <img src="{% static 'assets/img/icon/bed-orange.png' %}">[{{ Item.room_qty }}]

                                              {% if Item.parking %}
                                                <img src="{% static 'assets/img/icon/cars-orange.png' %}">
                                              {% else %}
                                                <img src="{% static 'assets/img/icon/cars.png' %}">
                                              {% endif %}

                                              {% if Item.elevator %}
                                                <img src="{% static 'assets/img/icon/elevator-orange.png' %}">
                                              {% else %}
                                                <img src="{% static 'assets/img/icon/elevator.png' %}">
                                              {% endif %}

                                              {% if Item.storage_room %}
                                                <img src="{% static 'assets/img/icon/warehouse-orange.png' %}">
                                              {% else %}
                                                <img src="{% static 'assets/img/icon/warehouse.png' %}">
                                              {% endif %}

                                              {% if Item.balcony %}
                                                <img src="{% static 'assets/img/icon/balcony-orange.png' %}">
                                              {% else %}
                                                <img src="{% static 'assets/img/icon/balcony.png' %}">
                                              {% endif %}

                                          </div>
                                      </div>
                                  </div>
                                </div>
                              {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p0" dir="rtl">
                        <aside class="sidebar sidebar-property blog-asside-right property-style2">
                            <div class="dealer-widget">
                                <div class="dealer-content">
                                    <div class="inner-wrapper">
                                        <div class="single-property-header">
                                            <h1 class="property-title"> {{ Item }} </h1>
                                            <span class="property-price">
                                              {% if Item.buy_status == 'خرید' %}
                                               <span class="proerty-price pull-right"> {{ Item.price }} تومان </span>
                                              {% elif Item.buy_status == 'رهن' %}
                                               <span class="proerty-price pull-right"> {{ Item.deposit }} تومان </span>
                                              {% elif Item.buy_status == 'اجاره' %}
                                              <small> <span class="proerty-price pull-right"> پیش:{{ Item.deposit }} اجاره:{{ Item.rent }} تومان</span> </small>
                                              {% endif %}
                                            </span>
                                        </div>

                                        <div class="property-meta entry-meta clearfix">

                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-tag">
                                                    <img src="{% static 'assets/img/icon/sale-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label"> وضعیت </span>
                                                    <span class="property-info-value"> {{ Item.buy_status }} </span>
                                                </span>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info icon-area">
                                                    <img src="{% static 'assets/img/icon/room-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label"> متراژ </span>
                                                    <span class="property-info-value"> {{ Item.area_size }} <b class="property-info-unit">متر مربع</b></span>
                                                </span>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-bed">
                                                    <img src="{% static 'assets/img/icon/bed-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label"> تعداد اتاق </span>
                                                    <span class="property-info-value"> {{ Item.room_qty }} </span>
                                                </span>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-bath">
                                                    <img src="{% static 'assets/img/icon/cars-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label"> پارکینگ </span>
                                                    <span class="property-info-value">{% if Item.parking %} دارد {% else %} ندارد {% endif %}</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-bath">
                                                    <img src="{% static 'assets/img/icon/elevator-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">آسانسور</span>
                                                    <span class="property-info-value">{% if Item.elevator %} دارد {% else %} ندارد {% endif %} </span>
                                                </span>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-garage">
                                                    <img src="{% static 'assets/img/icon/warehouse-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">انباری</span>
                                                    <span class="property-info-value"> {% if Item.storage_room %} دارد {% else %} ندارد {% endif %}</span>
                                                </span>
                                            </div>

                                            <div class="col-xs-4 col-sm-4 col-md-4 p-b-15">
                                                <span class="property-info-icon icon-garage">
                                                    <img src="{% static 'assets/img/icon/balcony-orange.png' %}">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label"> بالکن </span>
                                                    <span class="property-info-value">  {% if Item.balcony %} دارد {% else %} ندارد {% endif %} </span>
                                                </span>
                                            </div>


                                        </div>
                                        <div class="dealer-section-space">
                                            <span>اطلاعات تماس ما</span>
                                        </div>
                                        <div class="clear">
                                            <div class="col-xs-4 col-sm-4 dealer-face">
                                                <a href="">
                                                    <img src="{{ logo.url }}">
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 ">
                                                <h3 class="dealer-name"> <a href="{% url 'app:home' %}"> {% get_setting 'عنوان' default='django-extra-settings' %} </a> </h3>
                                                <div class="dealer-social-media">
                                                    <a class="twitter" target="_blank" href="{% get_setting 'لینک اینستاگرام' default='django-extra-settings' %}"> <i class="fa fa-instagram"></i> </a>
                                                    <a class="facebook" target="_blank" href="{% get_setting 'لینک واتس اپ' default='django-extra-settings' %}"> <i class="fa fa-whatsapp"></i> </a>
                                                    <a class="gplus" target="_blank" href="{% get_setting 'لینک تلگرام' default='django-extra-settings' %}"> <i class="fa fa-telegram"></i> </a>
                                                    <a class="instagram" target="_blank" href="{% get_setting 'لینک توییتر' default='django-extra-settings' %}"> <i class="fa fa-twitter"></i> </a>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="clear">
                                            <ul class="dealer-contacts">
                                                <li> <a href="tel:{% get_setting 'تلفن ۱' default='django-extra-settings' %}"> <i class="pe-7s-call"></i> &nbsp;&nbsp; {% get_setting 'تلفن ۱' default='django-extra-settings' %} </a> </li>
                                                <li> <a href="tel:{% get_setting 'تلفن ۲' default='django-extra-settings' %}"> <i class="pe-7s-call"></i> &nbsp;&nbsp; {% get_setting 'تلفن ۲' default='django-extra-settings' %} </a> </li>
                                                <li> <a href="mailto:{% get_setting 'ایمیل' default='django-extra-settings' %}"> <i class="pe-7s-mail strong"> </i> &nbsp;&nbsp; {% get_setting 'ایمیل' default='django-extra-settings' %} </a> </li>
                                                <li> <a href="whatsapp://send?abid={% get_setting 'شماره واتساپ' default='django-extra-settings' %}&text=سلام. وقت تان بخیر! برای کسب اطلاعات بیشتر و مشاوره در مورد این ملک پیام دادم:  {% get_setting 'آدرس وبسایت' default='django-extra-settings' %}{{Item.get_absolute_url}}"> <i class="fa fa-whatsapp"></i> &nbsp;&nbsp; ارسال پیام در واتساپ برای این ملک </a> </li>
                                                <li> <a href="#"> <i class="pe-7s-map-marker strong"> </i> &nbsp;&nbsp; {% get_setting 'آدرس' default='django-extra-settings' %} </a> </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                                <div class="panel-heading">
                                    <h3 class="panel-title"> درخواست تماس </h3>
                                    <p> جهت اطلاعات بیشتر همین حالا پیام دهید </p>
                                </div>
                                <div class="panel-body search-widget">
                                    <fieldset >
                                        <div class="row">
                                            <div class="col-xs-12" dir="ltr">
                                               <a class="text-decoration-none button btn largesearch-btn" href="whatsapp://send?abid={% get_setting 'شماره واتساپ' default='django-extra-settings' %}&text=سلام. وقت تان بخیر! برای کسب اطلاعات بیشتر و مشاوره در مورد این ملک پیام دادم:  {% get_setting 'آدرس وبسایت' default='django-extra-settings' %}{{Item.get_absolute_url}}"><i class="fab fa-whatsapp-square fs-4"></i> ارسال پیام </a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                        </aside>
                    </div>

                </div>

            </div>
        </div>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="{% static 'assets/js/lightslider.min.js' %}"></script>

  <script>
        $(document).ready(function () {

            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
  </script>

{% endblock javascripts %}
