{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load humanize %}


  <!-- [ Main Content ] start -->
  <section class="pcoded-main-container">
      <div class="pcoded-content">


          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title">
                    <h5 class="m-b-10" align="right" dir="rtl"> {{ node.name }} <small class="text-muted">{{ node.UUID }}</small> </h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!"> IOT </a></li>
                    <li class="breadcrumb-item"><a href="#!"> نود ها </a></li>
                    <li class="breadcrumb-item"><a href="#!"> {{ node.name }} </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->


      <div class="container">
        <div class="row">

         {% for Rom in sensors %}
             {% if Rom.family_id == "28" %}
               {% for Temp12 in temp_data %}
               {% if Rom.UUID == Temp12.UUID %}
               <div class="col-sm-4">
                     <div class="card bg-primary text-white">
                         <div class="card-body bg-patern-white">
                             <div class="row">
                                 <div class="col-auto">
                                   <img src="/static/assets/images/sensors/temp.png" width="25px">
                                   <span>Temperature</span>
                                 </div>
                                 <div class="col text-right">
                                     <span class="text-white"> {{ Temp12.max_temp }}° <i class="feather icon-arrow-up ml-1 text-success"></i></span>
                                     <span class="text-white"> {{ Temp12.min_temp }}° <i class="feather icon-arrow-down ml-1 text-danger"></i></span>
                                     <span class="text-white"> {{ Temp12.avg_temp|floatformat:1 }}° &nbsp;&nbsp;<span style="font-size: 20px;" class="text-warning">~</span> </span>
                                 </div>
                             </div>
                             <div align="center">
                               <a href="#!" class="badge badge-secondary collapsible">Extend <i class="feather icon-pie-chart"></i> </a>
                               <div class="collapsiblecontent" style="background-color:#ffffff4f;">
                                   <div class="text-dark" id="line-chart-temp{{Temp12.UUID}}"></div>
                               </div>
                             </div>
                             <div class="row mt-3">
                                 <div class="col">
                                   <h3 class="m-0 text-white">
                                     <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                        {{ Temp12.last_temp }}°
                                   </h3>
                                   <small class="ml-3" dir="rtl"> {{ Temp12.last_update|naturaltime }} </small>
                                 </div>
                                 <div class="col" align="right">
                                     <small> {{ Rom.UUID }} </small>
                                     <a href="{{ Rom.get_absolute_sensor_url }}"><h4 class="m-0 text-white text-right"> {{ Rom.name }} </h4></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>
               {% endif %}
               {% endfor %}
             {% endif %}
         {% endfor %}









        </div>
      </div>






<!--

<br><br><br><br><br><br><br><br><br>

         {% for Rom in sensors %}

             {% if Rom.family_id == "28" %}
               <span style="color:red;"> temp: </span>
             {% endif %}

             {% if Rom.family_id == "01" %}
               <span style="color:red;"> node: </span>
             {% endif %}

             {% if Rom.family_id == "15" %}
               <span style="color:red;"> gsm: </span>
             {% endif %}

             {% if Rom.family_id == "0A" %}
               <span style="color:red;"> sd: </span>
             {% endif %}

              <small class="text-muted">uuid:</small> {{ Rom.UUID }}
              <small class="text-muted">node id:</small> {{ Rom.node_id }}
              <small class="text-muted">family id:</small> {{ Rom.family_id }}
              <br>
          {% endfor %}

-->


        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>


    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }



//------- Temp --------------------------


var temp_last_7_chart = {{temp_last_7_chart|safe}};


    $(document).ready(function() {
        setTimeout(function() {

          {% for Rom in sensors %}
              {% if Rom.family_id == "28" %}
                {% for Temp12 in temp_data %}
                {% if Rom.UUID == Temp12.UUID %}

                $(function() {

                  var i;
                  for (i = 0; i < temp_last_7_chart.length; i++) {
                    if (temp_last_7_chart[i].UUID == '{{Temp12.UUID}}') {
                      var chart_data = temp_last_7_chart[i].data;
                    }
                  }

                    var options = {
                        chart: {
                            height: 250,
                            type: 'line',
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false,
                            width: 2,
                        },
                        stroke: {
                            curve: 'straight',
                        },
                        colors: ["#ea680b"],
                        fill: {
                            type: "gradient",
                            gradient: {
                                shade: 'light'
                            },
                        },
                        series: [{
                            name: "temp",
                            data: chart_data
                        }],
                        title: {
                            text: '',
                            align: 'left'
                        },
                        grid: {
                            row: {
                                colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            categories: ['شنبه', '۱شنبه', '۲شنبه', '۳شنبه', '۴شنبه', '۵شنبه', 'جمعه'],
                        }
                    }
                    var chart = new ApexCharts(
                        document.querySelector("#line-chart-temp{{Temp12.UUID}}"),
                        options
                    );
                    chart.render();
                });



                {% endif %}
                {% endfor %}
             {% endif %}
           {% endfor %}


        }, 700);
    });






</script>

<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/chart-apex.js"></script>


{% endblock javascripts %}
