{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block title %} جستجو {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div style="background:#494C53 url({{ settings.header_image.url }}) no-repeat scroll center top / cover; color:#FFF; position: relative; min-height: 140px; ">
    <div class="container">
        <div class="row" dir="rtl">
            <div class="page-head-content">
                <h1 class="page-title"> جستجو </h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->




<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 padding-top-40 properties-page">
                <div class="section clear">
                    <div class="col-xs-10 page-subheader sorting pl0">
                      <div class="col-xs-2 layout-switcher">
                          <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                          <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                      </div><!--/ .layout-switcher-->
                    </div>
                </div>

                <div class="section clear">
                    <div id="list-type" class="proerty-th">


                      {% if messages %}
                      {% for k in messages %}
                      <br> <br>
                      <h5 dir="rtl" align="center"> {{k}} </h5>
                      {% endfor %}
                      {% endif %}



                      {% if sr %}

                        {% for Item in sr %}
                        <div class="col-sm-6 col-md-4 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="{{ Item.get_absolute_url }}" ><img src="{{ Item.image.url }}"></a>
                                </div>

                                <div class="item-entry overflow" dir="rtl">
                                    <h6><a href="{{ Item.get_absolute_url }}"> {{ Item }} </a></h6>
                                    <div class="dot-hr"></div>

                                    <span class="proerty-price pull-right">
                                        {% if Item.buy_status == 'فروش' %}
                                         <span class="proerty-price pull-right"> {{ Item.price|floatformat:0|intcomma:False }} تومان </span>
                                        {% elif Item.buy_status == 'رهن کامل' %}
                                         <span class="proerty-price pull-right"> {{ Item.deposit|floatformat:0|intcomma:False }} تومان </span>
                                        {% elif Item.buy_status == 'پیش فروش' %}
                                         <span class="proerty-price pull-right"> {{ Item.price|floatformat:0|intcomma:False }} تومان </span>
                                        {% elif Item.buy_status == 'رهن و اجاره' %}
                                         <small> <span class="proerty-price pull-right"> ودیعه:{{ Item.deposit|floatformat:0|intcomma:False }} اجاره:{{ Item.rent|floatformat:0|intcomma:False }} تومان</span> </small>
                                        {% endif %}
                                    </span>
                                    <p style="display: none;"> {{ Item.additional_information|slice:":120" }}...  </p>
                                    <div class="property-icon">

                                      <!-- room qty -->
                                      {% if Item.estate_status == "آپارتمان"  or Item.estate_status == "مغازه و تجاری" or Item.estate_status == "دفتر کار اداری" or Item.estate_status == "خانه ویلایی" or Item.estate_status == "ویلا" %}
                                        <img src="{% static 'assets/img/icon/bed-orange.png' %}">[{{ Item.room_qty }}]
                                      {% endif %}


                                      <!-- parking -->
                                      {% if Item.estate_status == "آپارتمان"  or Item.estate_status == "مغازه و تجاری" or Item.estate_status == "دفتر کار اداری" or Item.estate_status == "خانه ویلایی" or Item.estate_status == "ویلا" %}
                                          {% if Item.parking %}
                                            <img src="{% static 'assets/img/icon/cars-orange.png' %}">
                                          {% else %}
                                            <img src="{% static 'assets/img/icon/cars.png' %}">
                                          {% endif %}
                                      {% endif %}



                                      <!-- elevator -->
                                      {% if Item.estate_status == "آپارتمان"  or Item.estate_status == "مغازه و تجاری" or Item.estate_status == "دفتر کار اداری" %}
                                          {% if Item.elevator %}
                                            <img src="{% static 'assets/img/icon/elevator-orange.png' %}">
                                          {% else %}
                                            <img src="{% static 'assets/img/icon/elevator.png' %}">
                                          {% endif %}
                                      {% endif %}




                                      <!-- storage room -->
                                      {% if Item.estate_status == "آپارتمان"  or Item.estate_status == "مغازه و تجاری" or Item.estate_status == "دفتر کار اداری" or Item.estate_status == "خانه ویلایی" or Item.estate_status == "ویلا" %}
                                          {% if Item.storage_room %}
                                            <img src="{% static 'assets/img/icon/warehouse-orange.png' %}">
                                          {% else %}
                                            <img src="{% static 'assets/img/icon/warehouse.png' %}">
                                          {% endif %}
                                      {% endif %}



                                      <!-- balcony -->
                                      {% if Item.estate_status == "آپارتمان"  or Item.estate_status == "مغازه و تجاری" or Item.estate_status == "دفتر کار اداری" or Item.estate_status == "خانه ویلایی" or Item.estate_status == "ویلا" %}
                                          {% if Item.balcony %}
                                            <img src="{% static 'assets/img/icon/balcony-orange.png' %}">
                                          {% else %}
                                            <img src="{% static 'assets/img/icon/balcony.png' %}">
                                          {% endif %}
                                      {% endif %}


                                      <span class="pull-left"> {{ Item.area_size }} متر  </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}


                    {% endif %}



                    </div>
                </div>
            </div>
            <div class="col-md-3 pl0 padding-top-40">
                <div class="blog-asside-right pl0">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                        <div class="panel-heading" dir="rtl">
                            <h3 class="panel-title"> جستجوی پیشرفته </h3>
                        </div>
                        <div class="panel-body search-widget">

                              <form action="{% url 'app:search' %}" method="post" class="form-inline">
                              {% csrf_token %}

                              <fieldset>
                                  <div class="row">
                                      <div class="col-xs-12">
                                        <select name="estate_status" id="basic" class="selectpicker show-tick form-control" title="نوع ملک">
                                            <option>آپارتمان</option>
                                            <option>خانه ویلایی</option>
                                            <option>زمین</option>
                                            <option>مغازه و تجاری</option>
                                            <option>دفتر کار اداری</option>
                                            <option>کلنگی</option>
                                            <option>ویلا</option>
                                            <option>باغ</option>
                                        </select>
                                      </div>
                                  </div>
                              </fieldset>

                              <fieldset>
                                  <div class="row">
                                      <div class="col-xs-6">
                                        <select name="area" id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="منطقه">
                                          {% for Area in areas %}
                                            <option data-tokens="{{Area}}"> {{ Area }} </option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                      <div class="col-xs-6">
                                        <select name="buy_status" id="basic" class="selectpicker show-tick form-control" title="نوع معامله">
                                            <option>رهن و اجاره</option>
                                            <option>رهن کامل</option>
                                            <option>فروش</option>
                                            <option>پیش فروش</option>
                                        </select>
                                      </div>
                                  </div>
                              </fieldset>

                              <fieldset class="padding-5">
                                  <div class="row">
                                      <div class="col-xs-12">
                                        <label for="price-range" dir="rtl" align="right"> <h4> اجاره: </h4> </label>
                                        <input name="rent" type="text" class="span2" value="0,100000000" data-slider-min="0" data-slider-max="100000000" data-slider-step="100" data-slider-value="[0,100000000]" id="price-range"> <br>
                                        <b dir="rtl" class="pull-left color"> ۰ تومان</b>
                                        <b dir="rtl" class="pull-right color"> ۱۰۰ میلیون تومان </b>
                                      </div>
                                      <hr>
                                      <div class="col-xs-12">
                                        <label for="property-geo" dir="rtl" align="right"> <h4> رهن: </h4> </label>
                                        <input name="mortgage" type="text" class="span2" value="0,10000000000" data-slider-min="0" data-slider-max="10000000000" data-slider-step="500" data-slider-value="[0,10000000000]" id="property-geo"> <br>
                                        <b dir="rtl" class="pull-left color"> ۰ تومان</b>
                                        <b dir="rtl" class="pull-right color"> ۱۰ میلیارد تومان </b>
                                      </div>
                                      <div class="col-xs-12">
                                        <label for="min-baths" dir="rtl" align="right"> <h4> خرید: </h4> </label>
                                        <input name="price" type="text" class="span2" value="0,100000000000" data-slider-min="0" data-slider-max="100000000000" data-slider-step="1000" data-slider-value="[0,100000000000]" id="min-baths"> <br>
                                        <b dir="rtl" class="pull-left color"> ۰ تومان</b>
                                        <b dir="rtl" class="pull-right color"> ۱۰۰ میلیارد تومان </b>
                                      </div>
                                      <div class="col-xs-12">
                                        <label for="min-bed" dir="rtl" align="right"> <h4> متراژ: </h4> </label>
                                        <input name="area_size" type="text" class="span2" value="10,10000" data-slider-min="10" data-slider-max="10000" data-slider-step="10" data-slider-value="[10,10000]" id="min-bed"> <br>
                                        <b dir="rtl" class="pull-left color"> ۱۰ متر </b>
                                        <b dir="rtl" class="pull-right color"> ۱۰۰۰۰ متر </b>
                                      </div>
                                  </div>
                              </fieldset>

                              <fieldset>
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <input class="button btn largesearch-btn" value="جستجو" type="submit">
                                      </div>
                                  </div>
                              </fieldset>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>


    $(function() {
      $('.selectpicker').selectpicker({
        liveSearch: true
      });
    });

</script>

{% endblock javascripts %}
