{% extends "base.html" %}
{% load static %}

{% block title %} search {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="page-head">
    <div class="container">
        <div class="row" dir="rtl">
            <div class="page-head-content">
                <h1 class="page-title"> search </h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->













{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
