
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid" align="center">
            <h6 class="text-info text-gradient" dir="rtl">
              نرم افزار مدیریت فروش و ارتباط با مشتریان AtroCRM
            </h6>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
